:root{
    --primary-color: #1A001A ;
    --white-color: white;
    --light-gray-color: #EEEE;
    --gap: 3rem;
}


.main-bg{
    background-image: url('/src/img/fundo.png');
    background: cover;
    background-position: center center;
    color: var(--white-color)
 
}
.white-bg{
    background: var(--white-color);
    color: var(--primary-color);
 
}
.main-content{
    max-width: 120rem;
    margin: 0 auto;
    padding: 10rem var(--gap);

}
.section{
    min-height: 100vh;
}

.menu{
    background: var(--white-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    border-bottom: 0.1rem solid var(--light-gray-color);
}
.menu-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}
.menu h1{
    font-size: 2.3rem;
 
}
.menu h1 a{
    color:inherit;
}
.menu ul {
        list-style: none;
        display: flex;
}
.menu ul  li a{
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    position: relative;
   
}
.menu ul  li a::after {
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: crimson;
    transition: all 300ms ease-in-out;
}
.menu ul  li a:hover::after{
    width: 50%;
    left: 25%;


}
.menu-spacing{
    height: 65px;
}
.intro-content{
    position: relative;
    top: -8rem;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
   min-height: 100vh;
}
.intro-text-content, .intro-img img{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
.intro-text-content h2{
    font-size: 6rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1.2;
}
.intro-img img  {
 max-width: 100%;
 height:auto;
 margin-top: 15rem;
 border: 6px solid;
 margin-left: 10rem;
 
}
.logo{
    height: 8rem;
    width: 8rem;
    padding: 0;

}
.B{
    height: 10rem;
    width: 50rem;
    margin-right: auto;
    margin-bottom: 15rem;



}
.top3-content{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 100vh;
    max-width: 60rem;
    text-align: center;
   
}
.grid-one-content{
    display: flex;
    /*flex-flow: column wrap;*/
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    min-height: 100vh;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
}
.grid h3{
    font-size: 3rem;
}
.grid h3::before{
    font-size: 3rem;
}





